@model Domain.Models.Person;
<h1>Person Details</h1>
<hr />
<div>
    @using (Html.BeginForm("CreatePerson", "Home", FormMethod.Post))
    {
        <div class="form">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter your name" })
            @Html.TextBoxFor(m => m.City, new { @class = "form-control mt-1", placeholder = "Enter your city" })
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control mt-1", placeholder = "Enter your phone number" })
            <input type="submit" value="Create Person" class="btn btn-large btn-primary mt-1" />
        </div>
    }
</div>
<div>
    <table class="table table-bordered table-striped" id="tblStudent">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">City</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    $(document).ready(function () {
        bindDatatable();
        $('#tblStudent').DataTable();
    });

    function bindDatatable() {
        datatable = $('#tblStudent')
            .DataTable({
                "sAjaxSource": "api/users",
                "bServerSide": true,
                "bProcessing": true,
                "bSearchable": true,
                "order": [[1, 'asc']],
                "language": {
                    "emptyTable": "No record found.",
                    "processing":
                        '<h1>Loading</h1>'
                },
                "columns": [
                    {
                        "data": "name",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "phoneNumber",
                        "autoWidth": true,
                        "searchable": true,
                    },
                    {
                        "data": "city",
                        "autoWidth": true,
                        "searchable": true
                    },
                ]
            });
    }
</script>